---
title: Title Goes Here
layout: post
---

<div class="message">
Initial message
</div>

## Section heading

{% highlight ruby %}
gem 'mygem', :git => 'https://github.com/jfnixon/mygem.git'
{% endhighlight %}
